body {
    width: 80%;
    align-items: center;
    padding: 20px 20px 20px 20px;
    border: 5px solid blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    color: blue;
}

h2 {
    text-align: center;
}

img {
    max-width: 100%;
}

#date {
    text-align: center;
    font-style: italic;
    color: #888;
    margin-top: .2em;
}

#explanation {
    font-size: 1.2em;
}